
@{
    ViewBag.Title = "Photo_Price";
}

<div class="row">
    <div class="col-12 mt-5">
        <h1>寫真攝影方案價格</h1>
        <hr>
        <h3>親子寫真</h3>
        <img src="~/img/Photo_Price01.jpg" class="img-fluid">
        <h3 class="mt-5">親子寫真方案  NT$ 6,500元</h3>
        <p>1.半日拍攝4HR(全棚拍)。</p>
        <p>2.16組精修照片入本，加挑一組$300元，初修檔案全數提供。</p>
        <p>3.全程棚內拍攝，外拍另加費用$2,000元(限大台北地區和桃園地區)。</p>
        <p>4.6X8精緻皮革相本一本、加$1,500元可升級成12X12吋皮革相本。</p>
        <p>5.紀念相片USB一份。</p>
        <p>6.工作室拍攝風格以清新自然為主，服裝需自行預備，工作室造型師亦可提供服裝搭配建議。</p>
        <p>7.單人妝髮費用$1,800元。(淡妝髮時間約需1小時)</p>
        <p>8.此方案限小家庭成員(爸爸、媽媽和小孩)拍攝，若有小家庭以外的親友想要一起入鏡，小孩1位費用$1,000元，大人1位費用$500元。</p>
    </div>
    <div class="col-12 mt-5">
        <hr>
        <h3>全家福寫真</h3>
        <img src="~/img/Photo_Price02.jpg" class="img-fluid">
        <h3 class="mt-5">全家福寫真方案  NT$ 2,880元</h3>
        <p>1.棚內拍攝1HR。</p>
        <p>2.5組精修照片，加挑一組$300元。</p>
        <p>3.全程棚內拍攝，外拍另加費用$2,000元(限大台北地區和桃園地區)。</p>
        <p>4.工作室拍攝風格以清新自然為主，服裝需自行預備，工作室造型師亦可提供服裝搭配建議。</p>
        <p>5.單人妝髮費用$1,800元。(淡妝髮時間約需1小時)</p>
        <p>6.此方案不限人數，以團體照合拍為主。</p>
    </div>
    <div class="col-12 mt-5">
        <hr>
        <h3>孕媽咪寫真</h3>
        <img src="~/img/Photo_Price03.jpg" class="img-fluid">
        <h3 class="mt-5">孕媽咪寫真方案費用  NT$ 6,800元</h3>
        <p>1.半日拍攝4HR(含造型時間約1小時)。</p>
        <p>2.20組精修照片入本，加挑一組$300元，初修檔案全數提供。</p>
        <p>3.提供孕媽咪一組專業造型(含髮、妝)。</p>
        <p>4.全程棚內拍攝，外拍另加費用$2,000元(限大台北地區和桃園地區)。</p>
        <p>5.自備三套便服(工作室造型師可提供服裝搭配建議)。</p>
        <p>6.紀念相片USB一份。</p>
        <p>7.本方案中爸爸可以一同入鏡拍攝，若有爸爸、媽咪以外的家庭成員想要一起入鏡請事先告知，小孩1位費用$1,000元，大人1位費用$500元。</p>
        <p class="text-danger">※加購8X6吋精緻皮革相本費用$1,500元</p>
    </div>
    <div class="col-12 mt-5">
        <hr>
        <h3>企業公司團拍</h3>
        <img src="~/img/Photo_Price04.jpg" class="img-fluid">
        <h3 class="mt-5">3-5人拍攝 NT$2,300元/1人</h3>
        <h3 class="my-2">6-8人拍攝 NT$2,000元/1人</h3>
        <h3 class="my-2 mb-4">9人以上拍攝 NT$1,800元/1人</h3>
        <p>1.棚內拍攝1hr+每人0.5hr (若為三人團拍則拍攝時間為1hr+1.5hr=2.5hr)</p>
        <p>2.提供全數初修檔案</p>
        <p>3.精修檔案每人1張</p>
        <p>4.精修團照1張</p>
        <p>(服裝及妝髮需自理)</p>
    </div>
    <div class="col-12 mt-5">
        <hr>
        <h3>個人寫真</h3>
        <img src="~/img/Photo_Price05.jpg" class="img-fluid">
        <h3 class="mt-5">個人寫真方案 NT$6,800元</h3>
        <p>1.半日棚拍4hr(含造型時間)。</p>
        <p>2.20組精修JPG檔，加挑一組300元。</p>
        <p>3.造型妝髮設計1套。</p>
        <p>4.全程棚內拍攝，外拍另加費用2,000元(限大台北地區和桃園地區)。</p>
        <p>5.紀念相片USB一份。</p>
    </div>
    <div class="col-12 mt-5">
        <hr>
        <h3>個人形象照</h3>
        <img src="~/img/Photo_Price06.jpg" class="img-fluid">
        <h3 class="mt-5">個人形象照 NT$2,500元</h3>
        <p>1.棚內拍攝2hr。</p>
        <p>2.精修照片2張，加挑1張300元。</p>
        <p>3.單人妝髮費用1,800元。</p>
        <p>4.全數初修檔案費用3,000元。</p>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-5 mt-5">
        <p>其他攝影服務可來信詢問→<a href="">JoJowedding@gmail.com</a></p>
        <p>線上預約單→@Html.ActionLink("按此連結","Booking","Booking")</p>
    </div>
</div>
