
@{
    ViewBag.Title = "Price";
}

<div class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <h1 class="pt-5 my-4">【經典包套方案】NT$39,800</h1>
                <p>☆ 婚紗全天拍攝10hr(含造型車程時間)</p>
                <p>☆ 拍攝白紗or禮服三套</p>
                <p>☆ 結婚宴客一套白紗二套禮服</p>
                <p>☆ 訂婚宴客二套禮服</p>
                <p>☆ 男士西服二套</p>
                <p>☆ 造型妝髮設計三套</p>
                <p>☆ 全數風格調色JPG檔</p>
                <p>☆ 32張精修入本JPG檔</p>
                <p>☆ 12吋平方皮革相本</p>
                <p>☆ 12吋皮革簽名本</p>
                <p>☆ 創意謝卡3組(100P/組)</p>
                <p>☆ 30吋無框畫</p>
                <p>☆ 新娘捧花1束(附6朵胸花)</p>
                <p>☆ 結婚禮盒(禮金簿、香扇、名條等)</p>
                <p>☆ 紀念相片USB一份</p>

                <h1 class="pt-5 my-4">【自主純攝影方案】NT$25,000</h1>
                <p>☆ 婚紗全天拍攝10hr(含造型車程時間)</p>
                <p>☆ 拍攝白紗or禮服三套</p>
                <p>☆ 男士西服二套</p>
                <p>☆ 造型妝髮設計三套</p>
                <p>☆ 全數風格調色JPG檔</p>
                <p>☆ 32張精修入本JPG檔</p>
                <p>☆ 紀念相片USB一份</p>
                <p class="text-danger">※如需額外租借宴客婚紗禮服，租金以3000元/1件計算。</p>

                <h1 class="pt-5 my-4">【半日棚拍純攝影方案】NT$15,000</h1>
                <p>☆ 婚紗半日棚拍6hr(含造型時間)</p>
                <p>☆ 拍攝白紗or禮服一套</p>
                <p>☆ 男士西服一套</p>
                <p>☆ 造型妝髮設計一套</p>
                <p>☆ 全數風格調色JPG檔</p>
                <p>☆ 20張精修JPG檔</p>
                <p>☆ 紀念相片USB一份</p>
                <p class="text-danger">※如需額外租借宴客婚紗禮服，可參考<a href="Secretary_Price.html" alt="">禮服租借費用說明</a>。</p>

                <h1 class="pt-5 my-4">【額外加購項目】</h1>
                <p>12吋平方皮革相本 $3,600元</p>
                <p>8X6吋皮革相本 $1,500元</p>
                <p>30吋無框畫 $1,500元</p>
                <p>創意謝卡1組 $ 400元</p>
                <p>結婚捧花 $2,000元</p>
                <p>結婚禮盒 $ 700元</p>
                <p>更多婚紗作品→@Html.ActionLink("按此連結", "Photos", "Picture")</p>
                <p>線上預約單→@Html.ActionLink("按此連結", "Booking", "Booking")</p>

            </div>
            <div class="col-md-12 col-lg-6">
                <h1 class="pt-5 my-4">婚紗工作室禮服租借說明</h1>
                <p>◎婚期或攝影需求在三個月內的新人，可預約試穿兩小時，若婚期或攝影需求超過三個月的新人，可預約安排洽詢一小時試穿3件禮服。洽詢試穿採預約制，可填寫<a href="Booking.html">線上預約單</a>，也可電洽詢問預約 (03) 1111-1111 。</p>
                <p>☆禮服租期為四天三夜(偏遠地區另作討論），海外婚紗租期為七天六夜，​如需增加租借天數或逾期歸還，則​​每件每天以加收500元計算​。</p>
                <p>☆禮服租金包含修改及清洗費用，取件日需將租金尾款付清，押金白紗8000/件，禮服6000/件，歸還檢查無破損汙漬，全數押金退還，若有破損汙漬情況，依照損壞程度賠償。</p>
                <p>☆下訂後才可保留禮服檔期，訂金為租金的三成，如非因不可抗拒之因素，已保留檔期後若欲取消檔期，則訂金不退還。</p>
                <p>☆婚期或拍攝日期一個月內更換禮服，換款費用2000/件。</p>

                <h1 class="pt-5 my-4">禮服租借價格</h1>
                <p>包套費用</p>
                <p>一白二晚：12000元</p>
                <p>一白二晚：9000元</p>
                <p>拍攝+宴客二白四晚：19000元</p>
                <p>拍攝+宴客二白四晚：16000元</p>
                <p class="text-danger">*若挑選包套新人依單租價位計算低於包套費用，則以低價為計算租金(例：一白二晚9000元，單租價位計算為8000元，則以租金8000元計價)</p>

                <h1 class="pt-5 my-4">貼心小提醒</h1>
                <p>1.工作室空間有限，除新娘及新郎之外，限攜帶三位親友陪同試穿挑選，並請勿攜帶飲料及食物進禮服間。</p>
                <p>2.試穿禮服建議帶著NuBra過來，以及穿著膚色底褲並上點淡妝，試穿效果會比較好。</p>
                <p>3.如對某特種布料會引發身體過敏紅腫癢情況，請先告知我們。</p>
                <p>4.禮服試穿時間均為兩個小時(婚期或攝影需求超過三個月的新人為一個小時)，盡量不要遲到，以維護其他時段的客人權益。</p>
                <p>5.預約安排好洽詢試穿的時段之後，工作室同時段只會接待一組新人，不會再安排其他試穿挑選禮服的客人，如果臨時有事無法前往，也麻煩請提早告知我們。</p>
                <img src="~/img/Price01.jpg" class="img-thumbnail mt-4" alt="" />
                <img src="~/img/Price02.jpg" class="img-thumbnail mt-4" alt="" />
                <p class="mt-4 text-secondary">感謝所有新人的配合，JOJO會以最真誠的回應為你們服務~</p>
            </div>
        </div>
    </div>
</div>

