
@{
    ViewBag.Title = "Secretary_Price";
}


<div class="row justify-content-center align-items-center">
    <h2 class="pt-5 my-4">新娘秘書方案內容</h2>
    <p class="h4">
        以下三種婚禮新秘服務優惠方案：婚禮日期離你詢問當下日期不足一個月又15天才適用以下3個方案
        假設:預定婚禮拍攝日期為11月30日當天舉行 則須在10月15日以後來詢問方可適用本方案內容
    </p>
    <div class="col-lg-6 text-center my-4">
        <h1> (方案一) </h1>
        <p class="h5">訂結同天午宴4造型：NT12800</p>
    </div>
    <div class="col-lg-6 text-center my-4">
        <img src="~/img/Secretary_Price01.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-6 text-center my-4">
        <h1> (方案二) </h1>
        <p class="h5">訂結同天晚宴4造型：NT14800</p>
    </div>
    <div class="col-lg-6 text-center my-4">
        <img src="~/img/Secretary_Price02.jpg" class="img-thumbnail">
    </div>
    <div class="col-lg-6 text-center my-4">
        <h1> (方案三) </h1>
        <p class="h5">訂婚＋宴客午宴2~3造型：NT10800</p>
    </div>
    <div class="col-lg-6 text-center my-4">
        <img src="~/img/Secretary_Price03.jpg" class="img-thumbnail">
    </div>
    <div class="col-12 mt-5 my-4">
        <p class="h5 text-danger">以上報價皆含</p>
        <p class="h5 text-danger">婚期前二週造型溝通</p>
        <p class="h5 text-danger">每套禮服造型變化</p>
        <p class="h5 text-danger">針對不同禮服提供皇冠,配件,飾品,假髮</p>
        <p class="h5 text-danger">含臉部安瓶,妝前霜,身體水粉,手部指甲油,協助禮服著裝,nu bra穿戴,胸型調整</p>
        <p class="h5 text-danger">有白紗者提供頭紗一件</p>
        <p class="h5 text-danger">全程跟妝服務</p>
        <p class="h5 text-danger">至最後一套造型完成離開</p>
    </div>
</div>

