
@{
    ViewBag.Title = "Index";
}
<style>


    .barCustom {
        font-size: 20px;
    }
    .myHeader{
        border-bottom: 2px ridge #524d4d;
        font-size: 20px;
        margin:2px;
        color: lightcoral
    }

    li, li div {
        font-size: 20px;
    }

    li {
        color: #524d4d
    }
</style>


<h2>JOJO婚紗管理網站首頁</h2>

<div class="row">
    <div class="col myHeader">
        這裡是JOJO婚紗管理者才能進入的地方，如果你進到這裡，代表你擊敗了DIO，網站已經認可了你的資格。
    </div>
    <div class="col myHeader">
        你有資格使用我們的網站，接下來就由鎖鏈康妮來當你的對手吧！
    </div>
</div>
<div class="row my-3">
    <div class="col text-center">網站功能介紹：</div>
</div>
<div class="row my-3">
    <div class="col text-center barCustom">
        <ul>
            <li class="text-left">
                &lt;上傳照片&gt;
                <div>
                    按下&lt;上傳照片&gt;按鈕，可以上傳照片的檔案至專案底下資料夾，同時將檔名、路徑、日期等資料傳送至資料庫。
                </div>
            </li>
            <li>
                <hr />
            </li>
            <li class="text-left">
                &lt;管理照片&gt;
                <div>
                    按下&lt;管理照片&gt;按鈕，可以修改照片檔名、描述、路徑、日期，也可以改變相片類型或是存放的資料夾位置。
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row my-3">
    <div class="col text-center barCustom">
        <ul>
            <li class="text-left">
                &lt;訂單管理&gt;
                <div>按下&lt;訂單管理&gt;按鈕，可以至google表單管理系統管理預約要求。</div>
            </li>
            <li>
                <hr />
            </li>
            <li class="text-left">
                &lt;訂單細節&gt;
                <div>按下&lt;訂單細節&gt;按鈕，可以至google的excel表格迅速瀏覽顧客的預約要求，相對&lt;訂單管理&gt;更為簡潔。</div>
            </li>
        </ul>
    </div>
</div>
<div class="row my-3">
    <div class="col text-center barCustom">
        <ul>
            <li class="text-left">
                &lt;前台觀看&gt;
                <div>按下&lt;前台觀看&gt;按鈕，可以前往供顧客瀏覽各式婚紗樣式、預約試穿婚紗的網站。</div>
            </li>
            <li>
                <hr />
            </li>
            <li class="text-left">
                &lt;登出&gt;
                <div>按下&lt;登出&gt;按鈕，可以直接登出管理網站，雖然閒置20分鐘也會自動登出，但還是建議管理者登出。</div>
            </li>
        </ul>
    </div>
</div>
