@{
    ViewBag.Title = "會員登入";
}

<h2>會員登入</h2>

<form action="@Url.Action("Login")" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <span class="control-label col-md-2">帳號</span>
            <div class="col-md-10">
                <input type="text" id="fUserName" name="fUserName" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">密碼</span>
            <div class="col-md-10">
                <input type="password" id="fPassword" name="fPassword" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="登入" class="btn btn-info" />
                <br />
                @ViewBag.Message
                @Session["Welcome"]
            </div>
        </div>
    </div>
</form>
