
@{
    ViewBag.Title = "Other_Services";
}

<div class="row justify-content-center">
    <h2 class="pt-5 my-4">請問你們提供什麼服務？</h2>
</div>
<div class="row justify-content-center">
    <h1 class="pt-5 my-4">婚紗攝影包套→@Html.ActionLink("按此連結", "Price", "Price")</h1>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 my-sm-4 my-4">
        <div class="img-inner">
            <img src="~/img/Other_Services01.jpg" class="img-thumbnail Oth" alt="" />
        </div>
    </div>
    <div class="col-lg-6 col-md-6 my-sm-4 my-4">
        <div class="img-inner">
            <img src="~/img/Other_Services02.jpg" class="img-thumbnail Oth" alt="" />
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <h1 class="pt-5 my-4">婚禮攝影服務→@Html.ActionLink("按此連結", "Photo_Price", "Price")</h1>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 my-sm-4 my-4">
        <div class="img-inner">
            <img src="~/img/Other_Services03.jpg" class="img-thumbnail Oth" alt="" />
        </div>
    </div>
    <div class="col-lg-6 col-md-6 my-sm-4 my-4">
        <div class="img-inner">
            <img src="~/img/Other_Services04.jpg" class="img-thumbnail Oth" alt="" />
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <h1 class="pt-5 my-4">專業新娘秘書→@Html.ActionLink("按此連結", "Secretary_Price", "Price")</h1>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 my-sm-4 my-4">
        <div class="img-inner">
            <img src="~/img/Other_Services05.jpg" class="img-thumbnail Oth" alt="" />
        </div>
    </div>
    <div class="col-lg-6 col-md-6 my-sm-4 my-4">
        <div class="img-inner">
            <img src="~/img/Other_Services06.jpg" class="img-thumbnail Oth" alt="" />
        </div>
    </div>
</div>
<div class="row mt-5">
    <p>若有以上相關需求，歡迎您填寫預約單，將有專人為您服務</p>
    <p>線上預約單→@Html.ActionLink("按此連結","Booking","Booking")</p>
</div>

