
@{
    ViewBag.Title = "Process";
}

<div class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-secondary">婚禮流程</h2>
            </div>
        </div>
        <hr>
        <div class="row  animated  fadeIn" style="animation-duration: 5s;">
            <div class="col-12" id="row">
                <img src="~/img/Process10.png" alt="" class="animated fadeIn pl-2"
                     style="animation-duration: 5s;animation-iteration-count:1;">
                <h1 class="animated  fadeIn   pt-2" style="animation-duration: 5s;animation-iteration-count:1">
                    出發
                </h1>
                <img src="~/img/Process01.JPG" alt="" class="img-fluid" style="border:4px rgb(236, 232, 221) solid;">
                <p id="text">
                    婚禮當天，需先祭祖告知家有喜事，祈求祖先保佑婚事順利，接著，新郎偕同迎娶車隊從父母家或新房出發，迎娶車隊的禮車數量應為「吉數」，並需結車頭綵及手把車綵，記得提前準備好喔，也別忘了與每車的司機確認路線圖。迎親禮車行列在途中，應一路燃放鞭炮以示慶賀。
                </p>
            </div>
        </div>
        <hr>
        <div class="row" id="row">
            <div class="col-12">
                <img src="~/img/Process11.png" alt="" class="animated fadeIn "
                     style="animation-duration: 5s;animation-iteration-count:1 ">
                <h1 class="animated  fadeIn" style="animation-duration: 5s;animation-iteration-count:1">
                    迎接新郎
                </h1>
                <img src="~/img/Process02.JPG" alt="" class="img-fluid " style="border:4px rgb(236, 232, 221) solid;">
                <p id="text">
                    到達新娘家前方約100公尺處，前導車鳴炮通知女方即將抵達，女方家亦應點燃鞭炮迎接男方車隊。
                    禮車到達女方家，女方男童迎接新郎，並以紅包答謝男童，再進入女方家。
                </p>
            </div>

        </div>
        <hr>
        <div class="row" id="row">
            <div class="col-12">
                <img src="~/img/Process12.png" alt="" class="animated fadeIn pl-2"
                     style="animation-duration: 5s;animation-iteration-count:1">
                <h1 class="animated  fadeIn   pt-2" style="animation-duration: 5s;animation-iteration-count:1">
                    討喜（闖關遊戲）
                </h1>
                <img src="~/img/Process03.JPG" alt="" class="img-fluid" style="border:4px rgb(236, 232, 221) solid;">
                <p id="text">
                    新郎持捧花接新娘，此時新娘的閨房密友們可故意提出問題阻攔，通過考驗後新郎將捧花交給新娘，是迎娶儀式中對新郎最大的考驗，也是最熱鬧的時刻。讓新人體會婚姻的來之不易，更要好好珍惜彼此。
                </p>
            </div>
        </div>
        <hr>
        <div class="row" id="row">
            <div class="col-12">
                <img src="~/img/Process13.png" alt="" class="animated fadeIn pl-2"
                     style="animation-duration: 5s;animation-iteration-count:1">
                <h1 class="animated  fadeIn  pl-4 pt-2" style="animation-duration: 5s;animation-iteration-count:1">
                    拜別父母
                </h1>
                <img src="~/img/Process04.JPG" alt="" class="img-fluid" style="border:4px rgb(236, 232, 221) solid;">
                <p id="text">
                    新人一起祭拜女方家神明祖先，接著一同向女方父母行三叩跪拜禮，拜別父母，感謝父母養育之恩，說完道別祝福的話後，由女方父母為新娘蓋上頭紗，並相擁道別。
                </p>
            </div>
        </div>
        <hr>
        <div class="row" id="row">
            <div class="col-12">
                <img src="~/img/Process14.png" alt="" class="animated fadeIn "
                     style="animation-duration: 5s;animation-iteration-count:1">
                <h1 class="animated  fadeIn   pt-2" style="animation-duration: 5s;animation-iteration-count:1">
                    出閣
                </h1>
                <img src="~/img/Process05.JPG" alt="" class="img-fluid" style="border:4px rgb(236, 232, 221) solid;">
                <ul class="list-unstyled" id="text">
                    <li id="text">
                        由媒人或好命婆持米篩或黑傘攙扶新娘上車，新娘上車後，新郎由另一車門上車，此時，新娘的父母會遞給新娘兩把扇子，而女方的陪嫁人員也要記得連「帶路雞」一起上車。
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row" id="row">
            <div class="col-12">
                <img src="~/img/Process15.png" alt="" class="animated fadeIn pl-2"
                     style="animation-duration: 5s;animation-iteration-count:1">
                <h1 class="animated  fadeIn   pt-2" style="animation-duration: 5s;animation-iteration-count:1">
                    燃炮、拜轎
                </h1>
                <img src="~/img/Process06.JPG" alt="" class="animated fadeIn pl-2"
                     style="animation-duration: 5s;animation-iteration-count:1">
                <p id="text">
                    前導車燃炮出發，以示趨吉避邪，出發與回程可走不同方向，亦即不走回頭路。快抵達男方家時也需燃放鞭炮，男方聽到後也要給予回應，同樣地，會由男性晚輩手捧橘子或蘋果請新娘下車，新娘則需回以紅包。
                </p>
            </div>
        </div>
        <hr>
        <div class="row" id="row">
            <div class="col-12">
                <img src="~/img/Process16.png" alt="" class="animated fadeIn pl-2"
                     style="animation-duration: 5s;animation-iteration-count:1">
                <h1 class="animated  fadeIn   pt-2" style="animation-duration: 5s;animation-iteration-count:1">
                    牽新娘
                </h1>
                <img src="~/img/Process07.JPG" alt="" class="animated fadeIn pl-2"
                     style="animation-duration: 5s;animation-iteration-count:1">
                <p id="text">新郎及媒人先下車，接著由媒人或好命婆持米篩或黑傘攙扶新娘下車。門檻前需置放火爐及瓦片，新娘右腳跨過火爐再踩破瓦片後進入男方家門大廳，象徵弄瓦成璋。</p>
            </div>
        </div>
        <hr>
        <div class="row" id="row">
            <div class="col-12">
                <img src="~/img/Process17.png" alt="" class="animated fadeIn "
                     style="animation-duration: 5s;animation-iteration-count:1">
                <h1 class="animated fadeIn " style="animation-duration: 5s;animation-iteration-count:1">
                    拜堂
                </h1>
                <img src="~/img/Process08.JPG" alt="" class="animated fadeIn "
                     style="animation-duration: 5s;animation-iteration-count:1">
                <p id="text">新人入家門定位之後，男方家長、長輩入座，開始拜堂，先敬茶上香敬拜神明祖先，再向家中長輩逐一敬茶問候，長輩以紅包回禮，新郎雙手將新娘頭紗往上掀開後夫妻交拜。</p>
            </div>
            <hr>
            <div class="row" id="row">
                <div class="col-12 " style="display:inline">
                    <img src="~/img/Process18.jpg" alt="" class="animated fadeIn pl-2"
                         style="animation-duration: 5s;animation-iteration-count:1">
                    <h1 class="animated  fadeIn   pt-2" style="animation-duration: 5s;animation-iteration-count:1 ">
                        進行結婚儀式
                    </h1>
                    <img src="~/img/Process09.JPG" alt="" class="animated fadeIn pl-2"
                         style="animation-duration: 5s;animation-iteration-count:1">
                    <p id="text">
                        男方準備酒席宴請親朋好友，<br>
                        喜宴上新郎、新娘偕同家長至各桌敬酒，<br>
                        宴客尾聲新人端喜糖於喜宴會場門口送客，並接受親友賓客們的祝福。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
