
@{
    ViewBag.Title = "Rent_Description";
}

<div class="section wb">
    <div class="container-fluid">
        <div class="row justify-content-end animated  fadeIn" id="row" style="animation-duration: 5s;">

            <div class=" col-md-6 text-left mt-5">
                <img src="~/img/Rent01.png" alt="" class="img-fluid" style="border:5px rgb(251, 249, 244) dotted;">
            </div>

            <div class="col-md-6 text-left mt-5">
                <h1 class="text-secondary h4 animated  fadeIn" style="animation-duration: 5s; ">
                    Rent
                    Description
                </h1>
                <h4 class="text-secondary h5  pb-5"> 如何租借？ </h4>
                <p id="text" class="text-muted  mt-5 ">
                    為了提供您更精緻的服務品質與環境，歡迎您提前預約來店試穿與諮詢<br>
                    我們將提供新客試穿件數5件，已下訂客人試穿件數25件<br>
                    新客參觀時間為2小時，挑選三套禮服時間為2.5小時<br>
                    諮詢及試穿時陪同親友人數以三人為限<br>
                    預約流程如左圖說明
                </p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end animated  fadeIn" id="row" style="animation-duration: 5s;">
            <div class="col-md-6 text-left mt-5">
                <h1 class=" text-secondary h4 ">
                    Booking Description
                </h1>
                <h4 class="text-secondary h5 ">如何預約？</h4>
                <p class=" text-muted mt-5">
                    <h3 class="pt-3" id="text">婚紗婚禮造型和禮服租借包套</h3>
                    請先填寫線上預約單，將會有客服人員與您聯繫、了解各項服務需求後，為您安排到店參觀時段。<br>
                    <h3 class="pt-3">本店位置：</h3>
                    桃園市楊梅區幼獅路二段3號<br>
                    交通方式： 請至新竹客運楊梅站（火車站前圓環左轉前行100公尺左側）搭乘往新埔（經清水）方向至職訓中心站下車(右方見到中華汽車後即可拉鈴於下一站下車)。
                </p>
                <div class="col-md-4  mb-5 " onclick="golink()">
                    <h1 class="h3 text-center   btn border border-white mb-5 " id="area">
                        線上預約click<br class=""><small class="h5"></small>
                    </h1>
                </div>
            </div>
            <div class="col-6 text-center mt-5">
                <figure>
                    <img src="~/img/Rent02.jpg" alt="" class="img-fluid"
                         style="border:5px rgb(251, 249, 244)  solid;">
                </figure>
            </div>
        </div>
    </div>
</div>
